body{
font-family:Arial;
background:#eee;
text-align:center;
}


.container{
display:flex;
justify-content:center;
gap:40px;
}


.form{
display:flex;
flex-direction:column;
gap:10px;
width:250px;
}


input,select,button{
padding:10px;
}


button{
background:#d71920;
color:white;
border:0;
cursor:pointer;
}



#card{

width:350px;
height:520px;
background:white;
border:12px solid #e21d2d;
}


#card h2{

background:#e21d2d;
color:white;
margin:0;
padding:15px;

}


#memberPhoto{

width:130px;
height:160px;
object-fit:cover;
margin-top:30px;

}


#memberName{

color:#d71920;
font-size:25px;

}


#idMember{

font-weight:bold;

}


.active{

color:green;

}


#qr{

margin:auto;
margin-top:20px;
width:100px;

}
